.tabs .actives  {
    background: #000 !important;
    color: #fff;
}

.tabs {
    padding-top: 20px !important;
}

.floor-plan {
    background: #fff;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metrics-bar {
    border-top: 1px solid #ccc;
    padding: 10px 0;
    background: #fafafa;
}

.metric-number {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.right-panel strong {
    font-family: "SuisseIntl-Regular" !important;
}

.right-panel p {
    font-family: "SuisseIntl-Regular" !important;
    font-weight: 400;
    font-size: 14px !important;
}

.text-normal-standart{
    font-size: 14px !important;
    font-family: "SuisseIntl-Regular" !important;
}
.btn-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 botones por fila */
    gap: 12px; /* espacio entre botones */
}

p {
    margin-bottom: 0rem !important;
}

.right-panel .btn, .metrics-bar .btn {
    padding: 13px 30px !important;
}
.salon-info-fixed {
    position: absolute;
    bottom: 60px;
    left: 15px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 13px;
    max-width: 400px;
    z-index: 999;
}

.salon-info-fixed strong {
    font-family: "SuisseIntl-Regular" !important;
}

.salon-info-fixed ul {
    margin: 8px 0 0 18px;
    padding: 0;
}

.panel-left {
    position: sticky;
    top: 0;
    height: 88vh;
    overflow: hidden;
    background: #fff;
    z-index: 100 !important;
}

.right-panel {
    height: 88vh;
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 50px !important;
}


.navbar {
    min-height: 70px !important;
    background-color: #000000 !important;
}

.fixed-metrics {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding: 15px 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.vertical-align {
    align-items: center;
    margin: auto;
}

.panel-left {
    padding-left: 0 !important;
    background: #fff !important;
    min-height: 88vh !important;
    height: 88%; 
    padding: 0;
}

/* ESCRITORIO */
@media (min-width: 768px) {
    .panel-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* MÓVIL: quitar centrado */
@media (max-width: 767px) {
    .panel-left {
        display: block;
        align-items: initial;
        justify-content: initial;
        min-height: auto !important;
        height: auto !important;
    }
}

/* Fondo blanco y bordes suaves */
.contact-modal {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 10px 35px;
    position: relative;
}

.btn-lot-merge.active-lot {
    border: 2px solid #000 !important;
    background: #f8f8f8;
    color: #000;
}

/* Botón de cerrar (X) */
.close-x {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
}

/* Texto descriptivo */
.modal-subtext {
    font-size: 14px;
    color: #5a5a5a;
}

/* Estilo cápsula para inputs */
.modal-input {
    width: 100%;
    background: #f1f1f1;
    border: none;
    padding: 14px 18px;
    border-radius: 20px;
    font-size: 15px;
}

.modal-input:focus {
    outline: none;
    background: #e8e8e8;
}

/* Botón principal */
.submit-button {
    background: black;
    color: white;
    padding: 12px 40px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    width: 220px;
}

.submit-button:hover {
    opacity: 0.85;
}

.text-custom-desktop{
    font-size: 20px;
    font-family: "SuisseIntl-Regular" !important;
}

/* Hover: gris fuerte */
.lote-svg:hover *,
.lote-svg:hover {
    fill:rgba(100, 100, 100, .4) !important;
}

/* Activo: gris muy oscuro */
.lote-svg.active *,
.lote-svg.active {
   fill:rgba(100, 100, 100, .6) !important;
}

.svg-selected {
     fill:rgba(100, 100, 100, .6) !important;
}

.btn-lot-merge{
    background-color: white !important;
}

.text-footer{
    padding-left: 140px !important;
    text-align: left;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .floor-plan {

        height: 250px;
    }

    .right-panel .btn, .metrics-bar .btn {
        padding: 7px 17px !important;
    }

    .text-footer{
        padding-left: 0px !important;
        text-align: center !important;
        font-weight: 600;
    }

    .right-panel {
        padding-left: 10px !important;
        padding-bottom: 200px !important;
    }

    .btn-lot-merge {
        display: none !important;
    }

    .metric-number {
        font-size: 20px;
    }

    .text-custom-mobile {
        font-size: 20px;
        font-family: "SuisseIntl-Regular" !important;
        font-weight: 600;
    }

    /* Select con borde y padding */
    .custom-select-wrapper-mobile {
        position: relative;
        width: 100% !important;
    }

    .custom-select-mobile {
        width: 100% !important;
        padding: 12px;
        border: 1.5px solid #ccc !important;
        border-radius: 8px;
        background: white !important;
        appearance: none;
        -webkit-appearance: none;
        font-size: 18px;
        font-family: "SuisseIntl-Regular" !important;
        font-weight: 600;
    }

    /* Flecha ▼ */
    .custom-select-wrapper-mobile::after {
        content: "▼";
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: #444;
        pointer-events: none;
    }

    /* Focus limpio */
    .custom-select-mobile:focus {
        outline: none;
        box-shadow: none;
    }

}